 h1 {
     text-align: center;
 }
 
 .bg-inverse {
     background-color: #373a3c;
     color: #eceeef;
 }
 
 .navbar-brand {
     color: white;
 }
 
 .navbar-nav>.nav-item>.nav-link {
     color: white;
 }
 
 .navbar-toggle {
     border-color: white;
 }
 
 .icon-bar {
     background-color: white;
 }

button {
    border-color: white !important;
    background-color: white !important;
}

.btn-primary {
    background-color: red;
    border-color: red;
    background-image: linear-gradient(to bottom,#770000 0,#ee0000 100%);
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom,#770000 0,#ee0000 100%);
    background-color: transparent;
}




















